In [2]:
import datetime as dt

In [3]:
today = dt.date.today().toordinal()
today = dt.date.fromordinal(today)
today

datetime.date(2020, 3, 26)

# Year

In [4]:
today.year

2020

In [5]:
today.strftime("%y %Y")

'20 2020'

# Month

In [46]:
today.month

3

In [53]:
today.strftime("%b %B %m")

'Mar March 03'

# Week number

In [55]:
today.strftime("%U %W")  # U with Sun as first day, W as Mon as first day

'12 12'

# Date

In [47]:
today.day

23

In [48]:
today.strftime("%d")

'23'

# Day number

In [49]:
today.timetuple()[7]  # is day of year, where 1 Jan is day 1

83

In [50]:
today.strftime("%j")

'083'

# Day name

In [51]:
today.weekday()  # the day of the week

0

In [52]:
today.strftime("%a %A")

'Mon Monday'